<br>
<br>
<br>
<h2 class="fonty" align="center">معرض الصور</h2>
<br>
<br>

  
    <% @pictures.each do |picture| %>
      
		
		<br>
		<br> 
		<div class="event">
	

			
		<div class="eventheading style_gallery">
			 	<%= image_tag picture.image.url , class:'style_gallery'%>
		</div>
		</br>
		<h4 class="eventheading fonty style_gallery"><%= picture.title %> </h4><br>
				
				

		<% if user_signed_in? %>
        <%= link_to 'عرض', picture, class:'fonty' %> |
        <%= link_to 'تعديل', edit_picture_path(picture) , class:'fonty' %> |
        <%= link_to 'مسح', picture, method: :delete, data: { confirm: 'هل انت متأكد؟' } , class:'fonty'%>
		<% end %>
      
  


<br>
			</div>



    <% end %>
<br><br><br>

		<%= link_to 'صورة جديدة', new_picture_path , class:'fonty'%>




